
table.document-library-table {
    table-layout: auto;
    margin-bottom: 0 !important;
    tbody {
        &.loading {
            opacity: .1;
        }
    }
}

table.document-library-table td {
    vertical-align: top;
}
table.document-library-table th {
    line-height: 1.45;
    padding-right: 10px!important;
    padding-left: 10px!important;
}
table.document-library-table thead .sorting_desc {
    background-position: 100% 40%;
}
table.document-library-table thead .sorting_asc {
    background-position: 100% 60%;
}
table.document-library-table.nowrap td.child {
    white-space: normal;
}
.dataTables_wrapper {
    margin-top: 1.2em;
    margin-bottom: 2.2em;

    /* Style for the processing message */
    .dataTables_processing {
        background: transparent;
        color: #ccc;
        font-size: 16px;
        padding: 20px;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: calc(50% - 100px);
        width: 100px;
        margin: 0!important;
        // transform: translate(-50%, -50%);
        z-index: 1000; /* Ensure it stays on top */
        text-align: center;
    }

    /* The container for the dots */
    .dots-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px; /* Spacing between dots */
    }

    /* Style for the dots */
    .dots-loader .dot {
        width: 10px;
        height: 10px;
        background-color: #ccc;
        border-radius: 50%;
        animation: dots 1.2s infinite ease-in-out both;
    }

    /* Animations for each dot with delays */
    .dots-loader .dot:nth-child(1) {
        animation-delay: -0.32s;
    }
    .dots-loader .dot:nth-child(2) {
        animation-delay: -0.16s;
    }
    .dots-loader .dot:nth-child(3) {
        animation-delay: 0s;
    }

    /* Keyframes for the dot animation */
    @keyframes dots {
        0%, 100% {
            transform: scale(0);
        }
        50% {
            transform: scale(1);
        }
    }

}
.dataTables_wrapper label {
    font-weight: normal;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    padding-bottom: 0.7em;
}
.dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input[type="search"] {
    padding: 0.2em 0.5em;
    margin-bottom: 0;
    width: auto;
    height: auto;
    line-height: 1.25;
}
.dataTables_wrapper .dataTables_filter input[type="search"] {
    padding: 0.3em 0.5em;
}
.dataTables_wrapper .dataTables_info {
    padding-top: 0.8em;
}
.dataTables_wrapper .dataTables_paginate {
    padding-top: 0.5em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.3em 0.9em;
    box-shadow: none;
}
table.document-library-table.dtr-inline.collapsed>tbody>tr>td:first-child::before,
table.document-library-table.dtr-inline.collapsed>tbody>tr>th:first-child::before {
    box-shadow: none;
	border: none;
    font-size: 14px;
	top: 12px;
    height: 12px;
    width: 12px;
	line-height: 12px;
    font-weight: bold;
    background-color: #377837;
	border-radius: 2px;
}
table.document-library-table.dtr-inline.collapsed>tbody>tr.parent>td:first-child::before,
table.document-library-table.dtr-inline.collapsed>tbody>tr.parent>th:first-child::before {
    background-color: #bd3737;
}
table.document-library-table .document-library-button {
    display: flex !important;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
    font-size: inherit;
    min-height: 2em;
    height: fit-content;
    line-height: 1.9em;
    padding: 0px 18px !important;
}
table.document-library-table .document-library-button:hover {
    text-decoration: none;
}
table.document-library-table .document-library-button::after {
    display: none;
}


.document-library-button {
    display: flex !important;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
    font-size: inherit;
    height: 2em;
    line-height: 1.9em;
    padding: 0px 18px !important;

    &:hover {
        text-decoration: none;
    }

    &::after {
        display: none;
    }
}

.dll-button-icon {
    min-width: 18px;
    min-height: 18px;
    width: 18px;
    height: 18px;
    line-height: 1 !important;
}

.dll-button-icon-text {
    margin-right: 10px;
}

.dll-file-icon {
    width: 48px;
    height: 48px;
}

.dll-preview-button.preview-disabled {
    opacity: 0.5;
    pointer-events: none;

    &:hover {
        background-color: inherit;
        color: inherit;
        box-shadow: inherit;
        padding: inherit;
        margin: inherit;
        font-size: inherit;
    }
}

.pswp--open {
    z-index: 999999!important;
}