
.dlw-settings .form-table .readonly td,
.dlw-settings .form-table .readonly .description,
.dlw-settings .form-table .readonly td a {
	color: #999;
}
.dlw-settings .form-table .pro-version {
	display: block;
	margin-top: 5px;
}
.dlw-settings .pro-version {
	font-size: 12px;
}
.promo-wrapper {
    display: flex;
    flex-direction: column;
}
.promo-wrapper p.promo {
    max-width: 900px;
}
.promo-wrapper a.promo {
    max-width: 649px;
}
.promo-wrapper img.promo {
	max-width: 649px;
	width: 100%;
}