.promo-wrapper {
    display: flex;
    flex-direction: column;
}
.promo-wrapper p.promo {
    max-width: 900px;
}
.promo-wrapper a.promo {
    max-width: 649px;
}
.promo-wrapper img.promo {
	max-width: 649px;
    width: 100%;
}